{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!--오류 표시-->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!--오류 표시 END-->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content"
                      rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="form-group">
            <label for="file">첨부 파일 : </label>
            {% if form.file.value != 'False' and form.file.value is not None %}
                    <div id="filearea">{{ form.file.value }} <a href="#" class="delete">삭제</a></div>
            {% endif%}
            <input type="hidden" name="filedel" id="filedel" value="0"/>
            <input type="file" class="form-control" name="file" id="file" multiple="true"/>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".delete").on('click', function(){
                document.getElementById("filearea").style.display = "none";
                $('#filedel').attr('value','1');
        });
    });

</script>
{% endblock %}