{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
   <!--<form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        오류 표시
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        오류 표시 END-->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control"  id="subjecttxt"
                   value="{{ question.subject|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="contenttxt"
                      rows="10">{{ question.content|default_if_none:'' }}</textarea>
        </div>
        <div class="form-group">
            <label for="file">첨부 파일 : </label>
            {% if question.filemodel_set.count > 0 %}
                {% for filemodel in question.filemodel_set.all %}
            <div id="filearea{{filemodel.id}}">{{filemodel.subject}}&nbsp;<a href="#" class="delete" id="{{filemodel.id}}">삭제</a></div>
                {% endfor %}
            {%endif%}
            <form enctype='multipart/form-data' action="upload/" method='POST' class="dropzone dz" id="my-dropzone" >
            {% csrf_token %}
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
                <input type="hidden" name="subject" id="subject"/>
                <input type="hidden" name="content" id="content"/>
            </form>
        </div>
        <button type="submit" class="btn btn-primary" id = "upload">저장하기</button>
        <form action="delete" method='POST' id="delform" >
            {% csrf_token %}
            <input type="hidden" name="del" id="del"/>
        </form>
    <!--</form>-->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".delete").on('click', function(){
            if(!confirm("정말로 삭제하시겠습니까?")) {
            } else {
                var id = $(this).attr('id');
                //document.getElementById("filearea"+id).style.display = "none";
                $('#del').attr('value',id);
                $('#delform').submit();
            }
        });
    });
    Dropzone.autoDiscover=false;
    const myDropzone= new Dropzone('#my-dropzone',{
    url:'upload/',
    maxFiles:5, // 업로드 가능 파일 수
    parallelUploads:5, // 한번에 서버에 보낼 파일 갯수
    autoProcessQueue: false, // 자동 업로드 여부
    maxFilesize:20,
    timeout: 2000000,
    addRemoveLinks: true,
    dictRemoveFile: '삭제',
    uploadMultiple: true,
    init: function () {
      var submitButton = document.querySelector("#upload");
      var myDropzone = this; //closure
      submitButton.addEventListener("click", function () {
         $('#subject').attr('value', $('#subjecttxt').val());
         $('#content').attr('value', $('#contenttxt').val());
         if(myDropzone.files==''){
            $('#my-dropzone').submit();
         }else{
            myDropzone.processQueue();
         }
      });
      myDropzone.on("sending", function(file, xhr, formData){
        formData.append("subject", $('#subjecttxt').val());
        formData.append("content", $('#contenttxt').val());
      });
      myDropzone.on("success", function(files, response) {
        var url = window.location.href.split("/");
        if(url[5]=='modify'){
        window.location.replace("http://localhost:8000/pybo/"+url[6]+"/");
        }else{
        window.location.replace("http://localhost:8000/pybo/");
        }
      });
    },
})
</script>
{% endblock %}